:root {
	--white: #fff;
	--orange: #F2994A;
	--water: #99EFD0;
	--violet: #361C5D;
	--light-vio: #8476AA;
	--black: #212B36;
	--blue: #516EA9;
	--gray-400: #B5B5B5;
	--gray-500: #8D8D8D;
	--gray-600: #637381;
}